@font-face {
    font-family: '나무고딕B';
    src: url('./210 나무고딕B.ttf');
}
@font-face {
    font-family: '나무고딕EB';
    src: url('./210 나무고딕EB.ttf');
}

@font-face {
    font-family: '나무고딕L';
    src: url('./210 나무고딕L.ttf');
}
@font-face {
    font-family: '나무고딕R';
    src: url('./210 나무고딕R.ttf');
}

